awscli
ipython
ipykernel
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
ruff
scikit-learn
tqdm
typer
torch>=2.1
torchaudio>=2.1
soundfile
stable-baselines3[extra]
pyo
-e .